
/* root{

} */
body {
  font-family: 'Helvetica';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 { margin: 0 }

/* header */
header.cart-header {
  display: flex;
  background-color: rgb(243, 243, 243);
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}
.cart-header a { text-decoration: none; color: #333 }
.cart-header svg { 
  font-size: 1.5rem;
  padding: .5rem;
  border-radius: .5rem;
  transition: all .5s;
}
.cart-header svg:hover { background-color: lightgray; color: #333 }
.cart-header h1 { margin: 0 }

/* Main */
.cart-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem 1.5rem;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.product-container {
  flex-basis: 15rem;
  display: flex;
  flex-direction: column;
  border: .1rem solid lightgray;
  border-radius: .5rem;
  align-items: center;
  /* padding: .5rem; */
  margin: 1rem;
}

.product-container img.small {
  min-height: 10rem;
  width: 100%;
}